select {
  width: 200px;
  height: 43px;
  margin-left: 20px;
  margin-top: 10px;
}

.entry {
  width: 178px;
  height: 20px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 18px;
  color: #818181;
}
.generateQR button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 18px;
  background-color: #4d47df;
  color: white;
  align-self: flex-end;
}
button:hover {
  cursor: pointer;
  box-shadow: #818181 0 0 2px;
}
