select {
  margin-left: 20px;
  margin-top: 10px;
}

.entry {
  margin-left: 20px;
  margin-top: 10px;
}
.generateQR button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 18px;
  background-color: #4d47df;
  color: white;
  align-self: flex-end;
}
